{% extends "base.html" %}

{% block content %}

<div class="card">
<nav class="pt-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-printers-tab" data-toggle="tab" href="#nav-printers" role="tab" aria-controls="nav-printers" aria-selected="false">Printers</a>
    <a class="nav-item nav-link" id="nav-stats-tab" data-toggle="tab" href="#nav-file" role="tab" aria-controls="nav-contact" aria-selected="false">File</a>
    <a class="nav-item nav-link" id="nav-stats-tab" data-toggle="tab" href="#nav-render" role="tab" aria-controls="nav-contact" aria-selected="false">Render</a>
    <a class="nav-item nav-link" id="nav-stats-tab" data-toggle="tab" href="#nav-stats" role="tab" aria-controls="nav-contact" aria-selected="false">Stats</a>
    <a class="nav-item nav-link" id="nav-config-tab" data-toggle="tab" href="#nav-config" role="tab" aria-controls="nav-contact" aria-selected="false">configuration</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
</div>

{% endblock %}

