{% extends "base.html" %}

{% block content %}
<script type="text/javascript">var liveplot = null;</script>
<script type="text/javascript">
	var shapes_classes = [
		{// X
            type: 'rect',
            xref: 'paper',
            yref: 'y',
            x0: 0,
            x1: 1,
            y0: 0.001,
            y1: 0.0001,
            fillcolor: '#ff0000',
            opacity: 0.2,
            line: {
                width: 0
            }
        },
        {// M
            type: 'rect',
            xref: 'paper',
            yref: 'y',
            x0: 0,
            x1: 1,
            y0: 0.0001,
            y1: 0.00001,
            fillcolor: '#ff9933',
            opacity: 0.2,
            line: {
                width: 0
            }
        },
        { // C
            type: 'rect',
            xref: 'paper',
            yref: 'y',
            x0: 0,
            x1: 1,
            y0: 0.00001,
            y1: 0.000001,
            fillcolor: '#ffff00',
            opacity: 0.2,
            line: {
                width: 0
            }
        },
        { // B
            type: 'rect',
            xref: 'paper',
            yref: 'y',
            x0: 0,
            x1: 1,
            y0: 0.000001,
            y1: 0.0000001,
            fillcolor: '#00cc00',
            opacity: 0.2,
            line: {
                width: 0
            }
        }
    ];
</script>

<div class="card">
		<div class="card-header">
			X-ray flux
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-9">
					<div id="myDiv"></div>

				</div>

				<div class="col-3">
					<input type="log" id="alarm_limit" onchange="update_alert_limit()">
					<select onchange="update_update_period()" id="update_period">
						<option value="0">Never</option>
						<option value="3">0.05 min</option>
						<option value="30">0.5 min</option>
						<option value="60">1 min</option>
						<option value="120">2 min</option>
						<option value="300">5 min</option>
						<option value="600">10 min</option>
						<option value="900">15 min</option>
					</select>

					<div>
						
						<div class="card mt-1 ml-1 val-state data-current" style="max-width: 18rem;">
							<div class="card-header">Current</div>
							<div class="card-body value-text">---
							</div>
						</div>

						<div class="card mt-1 ml-1 val-state data-max-24" style="max-width: 18rem;">
							<div class="card-header">Max 24h</div>
							<div class="card-body value-text">---
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
</div>


<script type="text/javascript">
var interval;

function update_data(){
	fetch_current_state();
	makeplot();
}

function update_update_period(){
	clearInterval(interval);
	if($("#update_period").val() > 0){
		update_data();
		interval = setInterval(function(){update_data();}, $("#update_period").val()*1000);
	}
}

function update_current_state(data){
	$(".data-current .value-text").text(data.last_text);
	$(".data-max-24 .value-text").text(data.max_24_text);
}

function fetch_current_state(){
	$.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/live/state.json",
        success: function( data, textStatus, jQxhr ){
			console.log(data);
			update_current_state(data);
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
        }
    });
}

fetch_current_state();

function update_alert_limit(){
	var val = $("#alarm_limit").val();
	console.log(val);
	Plotly.update("myDiv", {}, {
		shapes: [].concat(shapes_classes, [
			{
			    type: "line",
            	xref: 'paper',
	            x0: 0,
	            y0: val,
	            x1: 1,
	            y1: val,
	            line: {
	                color:"red",
	                width:2,
    	        }
    	    }
		])
	});
}
	

function makeplot() {
  Plotly.d3.csv("/live/data.json", function(data){ processData(data) } );
};

function processData(allRows) {

  //console.log(allRows);
  var x = [], y = [], y2 = [], standard_deviation = [], row = {};
  console.log(allRows[0]);

  for (var i=0; i < allRows.length; i++) {
    try{
	    x.push( allRows[i]['time_tag'] );
    	y.push( allRows[i].x_long );
    	y2.push( allRows[i].x_short );
    }catch(e){
    	//console.log(e);
    }
  }
  makePlotly(x, y, y2);
}

function makePlotly( x, y, y2 ){
  var traces = [{
    x: x,
    y: y,
  },{
    x: x,
    y: y2,
  }];

  var layout = {
	yaxis: {
		type: 'log',
		showexponent: 'all',
		exponentformat: 'e',
		range: [10^-3, 10^-9],
		title: 'Intensity [W*m-2]'
	},
	xaxis:{
		range: [Date.UTC() - (24 * 3600 * 1000), Date.UTC()],
		title: ''
	},
	annotations: [
		{
			text: 'X',
            xref: 'paper',
            yref: 'y',
            x: 0.5,
            y: 0.0001,
            ax: 0,
            ay: 0,
            showarrow: false,
            //fillcolor: '#ff0000',
		},
		{
			text: 'M',
            xref: 'paper',
            //yref: 'paper',
            x: 0.5,
            y: 0.0001,
            ax: -1,
            ay: -1,
            showarrow: false,
            //fillcolor: '#ff0000',
		}
	],
	shapes: [].concat(shapes_classes),
	title:'X-ray flux'
  };

  liveplot = Plotly.newPlot('myDiv', traces, layout);
};
 
 makeplot();



</script>


{% endblock %}

